APP_NAME=Mailback
APP_ENV=local
API_V1_PREFIX=/api/v1
SECRET_ENCRYPTION_KEY=

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=mailback
POSTGRES_USER=mailback
POSTGRES_PASSWORD=mailback

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=mailback
MINIO_SECRET_KEY=mailbackpass
MINIO_BUCKET=attachments